
/* Font Size */
.fs-12 {
  font-size: 0.75rem !important;
}
.fs-14 {
  font-size: 0.875rem !important;
}
.fs-16 {
  font-size: 1rem !important;
}

/* Font Weight */
.fw-700 {
  font-weight: 700 !important;
}
.fw-600 {
  font-weight: 600 !important;
}