@import "./variable.scss";

.drag-drop-bg {
  position: relative;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 30%;
  height: 150px;
  border-radius: 50%;
  cursor: pointer;
}

@media (min-width: 768px) {
    .drag-drop-bg {
      height: 110px;
    }
  }

.drop-image-container {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: last baseline;
}

.dropped-image{
    width: 100px;
    height: 100px;
    border-radius: 50%;
object-fit: cover;
border: 2px solid $gray_1;
}

.delete-icon{
    position: absolute;
    margin-left: 60px; 
    width: 3.7vh; 
    height: auto;
    color: red;
    cursor: pointer; 
}

.drag-drop-logo-container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.drag-drop-logo{
    width: 11.0vh;
    height: auto;
}

// #scroll-container{
//     display: flex;      
//     flex-wrap: wrap;    
//     align-items: baseline;
//     gap: 16px;          
// }

.scroll-bar-container{
    width: 90%;  
    margin: 0 auto;     
    overflow-y: auto;    
    padding: 8px;      
}