@import "./variable.scss";

.verification-form {
  width: 90%;
  max-width: 600px;

  .verification-form-input-box {
    background-color: $white_1;
    border-radius: 5px;
    .verification-form-input-adornment {
      color: inherit;
    }
  }

  .verification-form-phone-verified-btn{
    height: 40px;

    &.Mui-disabled {
      background-color: $green_1;
      color: $white_1;
    }
  }
}

.verification-form-email-container {
  width: 90%;
  max-width: 600px;
  margin-bottom: 10px;

  .verification-form-input-box {
    background-color: $white_1;
    border-radius: 5px;
  }

  .verification-form-email-verified-btn {
    height: 40px;

    &.Mui-disabled {
      background-color: $green_1;
      color: $white_1;
    }
  }
}

.verification-form-get-started-btn {
  background: $primary_color !important;
  width: 200px;
  height: 50px;

  &:hover {
    background: $primary_color;
    color: $white_1;
  }
  &.Mui-disabled {
    background-color: $gray_1 !important;
    color: $white_1;
  }
}

